* { 
  margin: 0;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background: black;
  font-size: 100%;
}

.box {
  display: flex;
  flex-grow: 1;
}

.container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-content: stretch;
}

input {
  display: none;
}

label {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.9;
  font-size: 20em;
  padding: 0 30;
  line-height: 100%;
}

label:hover {
  opacity: 1;
}

label, input ~ div {
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  color: white;
}

input ~ div {
  z-index: 998;
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 100vh;
  font-size: 50vh;
}

input:checked ~ div {
  display: block;
  animation-name: blackOutAndIn;
  animation-duration: 3s;
}

input:checked + label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  opacity: 0;
  z-index: 999;
}

@keyframes blackOutAndIn {
 20% {background: black; color: black}
 60% {background: black; color: black}
}

.yellow * {
  background: #b58900;
}
.orange * {
  background: #cb4b16;
}
.red * {
  background: #dc322f;
}
.magenta * {
  background: #d33682;
}
.violet * {
  background: #6c71c4;
}
.blue * {
  background: #268bd2;
}
.cyan * {
  background: #2aa198;
}
.green * {
  background: #859900;
}

footer {
  text-align: center;
}
footer img {
  height: 30px;
}

